body{
	background-color: #f0efef;
	max-width: 100%;
	padding-left: 1.5625%;
	padding-right: 1.5625%
	}
#wrapper{
	width: 93.75% /*900px/960px*/
	margin: 1.1111111% auto;
	overflow: hidden;
	
		}
h2,h3,h4{
	text-align: left;
	font-size: 112.5%;/*18px/16px*/
	background-color: red;
	padding: .555555555% .833333333% .277777777%;/*10px+15px+5px/18px*/
	width:100%;
	}
h1{
	color:#fb0303;
	text-align: center;
	font-size: 375%;/*60px/16px*/
	background-color: black;
	height: 1.666666667em;/*100px/30px*/
	width: 89.5833334%;
	margin: 0;
	float: left;
 
	
	}
	
p{
	font-family: "times new roman", times, serif;
	font-size: 125%;/*20px/16px*/
	text-align: left;
	margin: 1.1111111% auto;
	color: black;
	padding-left: .750em/*12px/16px*/
	}	
#sched{
	font-family: "times new roman", times, serif;
	font-size: 187.5%;/*30px/16px*/
	text-align: left;
	color: #fb0303;
	}
logo{
	width: 10.4166666%;
	float: left;
 
}	
 	

	
/*-------Nav---------------------------------------------------------------*/

 
		
#links{
	width: 100%;
	display: inline-block;
	text-align: center;
	background: red;
	list-style: none;
	padding: 2% 0% 2% 0%;
	clear: left;
	
	}
a:link{color: purple;
		text-decoration: none;
		background-color: #bf4747; 
		}
a:visited{color: black; 
		}
a:hover{color: red; 
		}
a:active{color: yellow; 	
	
	}
#home,#schedule,#tickets{	
	width: 31.3%;
	border: 12.5% solid black;/*2px/16px*/
	background-color: #bf4747; 
 	text-decoration: none;
	display: inline-block;
	line-height: 75%;
	text-align: center;
	font-size: 375%;
	padding: 3% 0% 3% 0%;
	max-width: 100%;
	}
	
/*-------Photo-Gallery------------------------------------------------------*/

#pic{
	background-color: black;
	 }
#photo1,#photo2,#photo3{
	border: .9375em solid #ff002a;
	list-style-type: none;
	display: inline-block;
	background-color: black;
	width: 22.2222222%;
	margin: 1.250% auto;
	overflow: hidden;		
 	float: none;
	
	}

img{
	max-width: 100%;
}	

		
/*---------Media-Queries------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (Devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px){
#wrapper{
	background-color: red;
}
}

/* Mobile Landscape size to to Tablet Portrait (Devices and browsers)*/
@media screen and (min-width: 480px) and (max-width: 767px){
#wrapper{
	background-color: yellow;}
	h1{font-size: 225%;}
	#links{
	display: block;
	font-size: 75%;}
}
	
/* Mobile Portrait size to Mobile Landscape (Devices and browsers)*/
@media screen and (max-width: 479px){
#wrapper{background-color: green;}
h1{font-size: 138%}

logo{width: 10%;}

#photo1,#photo2,#photo3,h4{display: none;}

#links{
	display: block;
	font-size: 25%;}
}
 	