body{
	background-color: #f0efef;
	max-width: 100%;
	padding-left: 1.5625%;
	padding-right: 1.5625%
	}
#wrapper{
	width: 93.75%; /*900px/960px*/
	margin: 1.1111111% auto;
	overflow: hidden;
	
		}
h2,h3,h4{
	text-align: left;
	font-size: 112.5%;/*18px/16px*/
	background-color: red;
	padding: .555555555% .833333333% .277777777%;/*10px+15px+5px/18px*/
	width:100%;
	clear: right;
	}
h1{
	color:#fb0303;
	text-align: center;
	font-size: 375%;/*60px/16px*/
	background-color: black;
	height: 1.666666667em;/*100px/30px*/
	width: 89.5833334%;
	margin: 0;
	float: left;
 
	
	}
	
p{
	font-family: "times new roman", times, serif;
	font-size: 125%;/*20px/16px*/
	text-align: left;
	margin: 1.1111111% auto;
	color: black;
	padding-left: .750em/*12px/16px*/
	}	
#sched{
	font-family: "times new roman", times, serif;
	font-size: 187.5%;/*30px/16px*/
	text-align: left;
	color: #fb0303;
	}
#logo{
	width: 10.4166666%;
	float: left;
 
}	
 	

	
/*-------Nav---------------------------------------------------------------*/

 
		
#links{
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 2% 0% 2% 0%;
	
	}
a:link{color: purple;
		text-decoration: none;
		background-color: #bf4747; 
		}
a:visited{color: black; 
		}
a:hover{color: red; 
		}
a:active{color: yellow; 	
	
	}
#home,#schedule,#tickets{	
	width: 33.3%;
 	background-color: #bf4747; 
 	text-decoration: none;
 	float: right;
	line-height: 75%;
	text-align: center;
	font-size: 375%;
	padding: 3% 0% 3% 0%;
	max-width: 100%;
	clear: left;
	}
#tickets{}	
/*-------Photo-Gallery------------------------------------------------------*/

#pic{
	background-color: black;
	 }
#photo1,#photo2,#photo3{
	border: .9375em solid #ff002a;
	list-style-type: none;
	display: inline-block;
	background-color: black;
	width: 22.2222222%;
	margin: 1.250% auto;
	overflow: hidden;		
 	float: none;
	
	}

img{
	max-width: 100%;
}	

		
/*---------Media-Queries------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (Devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px){
	 

	h1{font-size: 300%;}

	nav{clear: right;
		font-size: 50%;}
	
	#game{width: 45%;
		float: left;}

 
	#news{width: 45%;
		float: right;}

	p{font-size: 100%;}

	#sched{font-size: 150%;}
	
	#pic{clear: both;}
}

/* Mobile Landscape size to to Tablet Portrait (Devices and browsers)*/
@media screen and (min-width: 480px) and (max-width: 767px){
	 
	
	h1{font-size: 225%;}
	
	#pic{clear: both;}
	
	#game{width: 45%;
		float: left;}

 
	#news{width: 45%;
		float: right;}
		
	#sched{font-size: 120%;}
	
	#sch1{width: 50%;
		float: left;}	
	
	#sch2{width: 50%;
		float: right;}			
	
	p{font-size: 85%}
	
	nav{font-size: 50%;
		float: none;}
	
	
	
}	
	
/* Mobile Portrait size to Mobile Landscape (Devices and browsers)*/
@media screen and (max-width: 479px){
	
	h1{font-size: 138%}

	#sched{font-size: 100%}

	p{font-size: 75%}

	logo{width: 10%;}

	#photo1,#photo2,#photo3,h4{display: none;}

	nav{
	font-size: 25%;}
}
 	